body {
  font-family: $font-family;
}

.headline {
  font-size: font-size(headline);
  line-height: 1.25;

  @include max(breakpoint(sm)) {
    font-size: font-size(headline, $is-mobile);
  }
}

.summary {
  font-size: font-size(body);
  line-height: 1.2;

  @include max(breakpoint(sm)) {
    font-size: font-size(body, $is-mobile);
  }
}

.date,
.byline {
  color: $grey;
  font-size: font-size(date);

  @include max(breakpoint(sm)) {
    font-size: font-size(date, $is-mobile);
  }
}
