$breakpoints: (
  sm: 520px,
  md: 768px,
  lg: 1024px,
);

@function breakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

@mixin max($breakpoint) {
  @media only screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
