@import "./styles/variables";
@import "./styles/text";

@import "./styles/partials/nav";
@import "./styles/partials/footer";
@import "./styles/partials/article";
@import "./styles/partials/pagination";

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.articles-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px 0 95px;

  @include max(breakpoint(lg)) {
    padding: 0 20px;
  }
}

