@import "./styles/variables";
@import "./styles/text";

@import "./styles/partials/nav";
@import "./styles/partials/footer";

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
