mixin nav
  nav.nav
    .nav-container
      img.nav-logo(src="./assets/Logo.png", alt="Penzi Logo")
      .nav-language-toggle
        button.toggle-button.is-active#english-button English
        button.toggle-button#martian-button Martian
