mixin pagination
  .pagination
    .pagination-container
      .pagination-content
        p 
          span.pagination-current-index 1 
          span of 
          span.pagination-total-index 5
        .pagination-carets
          .caret.caret-left
          .caret.caret-right
